<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href = "static/style.css">
        <title>Flash Card</title>
        <meta http-equiv="content-type" charset="utf-8">
    </head>
    <body>
        <div class = "head_line">
            <div class = "left_box">
                <h1>FLASH CARD</h1>
            </div>
            <div class = "right_box">
                <a href="index.html" class="btn">HOME</a>
                <a href="create_card.html" class="btn">EDIT</a>
                <a href="check.html" class="btn">PROGRESS</a>
            </div>
        </div>
        <div class = "main">
            <p class = "ptitle">TEST</p>
            <div class="voca_card">
                {% if flag == 1 %}
                <p>{{voca_info[0][0]}}</p>
                {% else %}
                <p>{{ans[0][0]}}</p>
                {% endif %}
            </div>
            <div class = "t_v_form">
                {% if flag == 1 %}
                <form action="answer" method="post">
                    <p><input type="submit" value="answer" class="test_btn"></p>
                </form>
                {% else %}
                <form action="next" method="post">
                    <p><input type="submit" value="next" class="test_btn"></p>
                </form>
                {% endif %}
            </div>
        </div>
        <div class = "foot_line">
        </div>
    </body>
</html>
