<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type = "text/css" href = "../static/style.css">
        <title>Flash Card</title>
        <meta http-equiv="content-type" charset="utf-8">
    </head>
    <body>
        <div class = "head_line">
            <div class = "left_box">
                <h1>FLASH CARD</h1>
            </div>
            <div class = "right_box">
                <a href="index.html" class="btn">HOME</a>
                <a href="create_card.html" class="btn">EDIT</a>
                <a href="check.html" class="btn">PROGRESS</a>
            </div>
        </div>
        <div class = "main">
            <h1 class = "ptitle">TEST</h1>
            <p class = "mes">Let's challenge your LIMIT!!</p>
        </div>
        <div class = "foot_line">
        </div>
    </body>
</html>
